{% extends "auth_base.html" %}
{% block title %}Log in{% endblock title %}
{% load static %}

{% block content %}
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between m-b-30">
            <a href="#"></a>
            <img class="img-fluid" alt="" src="{% static 'images/logo/logo.png' %}" style="width: 130px; margin-left: -180px;">
            <h2 class="m-b-0">Sign In</h2>
        </div>
        <form method="post">

            <div class="text-center auth-errors" style="margin-top: 5px;margin-bottom: 15px;">
                {% for error in form.non_field_errors %}
                    <span class="form__forget"
                          style="color: red !important;"> {{ error }} </span>
                {% endfor %}
                {% for error in form.password.errors %}
                    <span class="form__forget"
                          style="color: red !important;"> {{ error }} </span>
                {% endfor %}
                {% for error in form.username.errors %}
                    <span class="form__forget"
                          style="color: red !important;"> {{ error }} </span>
                {% endfor %}
            </div>
            {% csrf_token %}

            <div class="form-group">
                <label class="font-weight-semibold" for="userName">Username:</label>
                <div class="input-affix">
                    <i class="prefix-icon anticon anticon-user"></i>
                    <input type="text" class="form-control"
                           placeholder="Username" name="username" maxlength="150"
                           autocapitalize="none" autocomplete="username" autofocus=""
                           required=""
                           id="id_username"
                           value="{{ form.username.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" for="password">Password:</label>
                <a class="float-right font-size-13 text-muted"
                   href="#">Forget Password?</a>
                <div class="input-affix m-b-10">
                    <i class="prefix-icon anticon anticon-lock"></i>
                    <input type="password" class="form-control"
                           placeholder="Password" name="password"
                           autocomplete="new-password" required="" id="id_password1">
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between">
                                                <span class="font-size-13 text-muted">
                                                    Don't have an account?
                                                    <a class="small" href="{% url 'django_registration_register' %}"> Signup</a>
                                                </span>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
