{% extends "base.html" %}
{% block title %}Password Reset Confirm{% endblock %}
{% load static %}
{% block content %}

    <!--Password Reset Confirm-->


    <!--============= Sign In Section Starts Here =============-->
    <div class="account-section bg_img" data-background="{% static 'alpha/images/account-bg.jpg' %}">
        <div class="container">
            <div class="account-title text-center mb-120">
                <a href="{% url 'landing' %}" class="back-home"><i class="fas fa-angle-left"></i><span>Back <span
                        class="d-none d-sm-inline-block">To Woocontacts</span></span></a>
                <a href="{% url 'landing' %}" class="logo">
                    <img src="{% static 'alpha/images/logo/logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="account-wrapper top-gap">
                <div class="account-body">
                    <div class="form-head">
                        <h4 class="title mb-20">Password Reset Confirmation</h4>
                        <p>Please enter your new password.</p>
                    </div>


                    <form class="account-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="mt-40 mb-2">Reset password</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
    <!--============= Sign In Section Ends Here =============-->


{% endblock %}