<div class="tab-pane fade" id="project-details-attachment">
    <div class="file" style="min-width: 200px;">
        <div class="media align-items-center">
            <div class="avatar avatar-icon avatar-blue rounded m-r-15">
                <i class="anticon anticon-file-word font-size-20"></i>
            </div>
            <div>
                <h6 class="mb-0">CSC-Result.doc</h6>
                <span class="font-size-13 text-muted">128 KB</span>
            </div>
        </div>
    </div>

</div>