{% load static %}

<div class="tab-pane fade" id="project-details-comments">
    <ul class="list-group list-group-flush">

        {% for comment in comments %}
            <li class="list-group-item p-h-0">
                <div class="media m-b-15">
                    <div class="avatar avatar-image">
                        <img src="{% static 'images/avatars/thumb-9.jpg' %}" alt="">
                    </div>
                    <div class="media-body m-l-20">
                        <h6 class="m-b-0">
                            <a href="" class="text-dark">{{ comment.name }}</a>
                        </h6>
                        <span class="font-size-13 text-gray">{{ comment.created_on }}</span>
                    </div>
                </div>
                <p>{{ comment.body | linebreaks }}</p>
            </li>
        {% endfor %}

        <li class="list-group-item p-h-0">
            <div class="media m-b-15">
                <div class="avatar avatar-image">
                    <img src="assets/images/avatars/thumb-8.jpg" alt="">
                </div>
                <div class="media-body m-l-20">
                    <h6 class="m-b-0">
                        <a href="" class="text-dark">Dr Ajayi</a>
                    </h6>
                    <span class="font-size-13 text-gray">28th Jul 2018</span>
                </div>
            </div>
            <p>This result is not complete, it needs update. Ask for the latest copy from Mr
                Akinwale. Thank you</p>
        </li>


    </ul>

    {% if form.errors %}
        <div class="single-card no-content">
            <div class="d-block form-errors">

                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-warning">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-warning">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}

    <div class="form-row justify-content-center d-block text-center px-5 mt-5">
        <form method="post" class="mt-2">
            <input type="hidden" name="name" id="id_name" value="{{ result.manager }}">
            <div class="form-group col-12">
                <label for="id_comment">Drop a comment</label>

                <textarea name="body" class="form-control" id="id_body"
                          placeholder="Comment on result"></textarea>
                {% csrf_token %}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-tone m-r-5">
                    <i class="anticon anticon-info m-r-5"></i>
                    <span>Submit</span>
                </button>
            </div>
        </form>
    </div>

</div>