{#{% load result_extras %}#}


<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="medical-icon-i-immunizations" style="font-size: 25px;"></i>
                                </span>
                    <span class="title">Tests</span>

                    <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'all_tests' %}">All Tests</a>
                    </li>
                    <li>
                        <a href="{% url 'new_test' %}">New Test</a>
                    </li>
                    <li>
                        <a href="{% url 'test_requests' %}">Test Requests</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a href="{% url 'laboratories' %}">
                                <span class="icon-holder">
                                    <i class="medical-icon-i-laboratory" style="font-size: 25px;"></i>
                                </span>
                    <span class="title">Laboratories</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a href="{% url 'all_reports' %}">
                                <span class="icon-holder">
                                    <i class="medical-icon-i-medical-records" style="font-size: 25px;"></i>
                                </span>
                    <span class="title">Reports</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="medical-icon-i-imaging-root-category" style="font-size: 25px;"></i>
                                </span>
                    <span class="title">Samples</span>
                    <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'all_samples' %}">All Samples</a>
                    </li>
                    <li>
                        <a href="{% url 'new_sample' %}">Create Sample</a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
</div>