<div class="container-fluid">
    <div class="tab-content m-t-15" >
        <div class="tab-pane fade show active" id="test_overview">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Basic Info</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                            <tr>
                                <td>Laboratory Technician:</td>
                                <td class="text-dark font-weight-semibold">{{ test_obj.technician.full_name }}</td>
                            </tr>
                            <tr>
                                <td>Laboratory:</td>
                                <td class="text-dark font-weight-semibold">{{ test_obj.lab }}</td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td>
                                    <span class="badge badge-pill badge-primary">{{ test_obj.category|title }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Doctor:</td>
                                <td class="text-dark font-weight-semibold">{{ test_obj.doctor.full_name }}</td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>
                                    <span class="badge badge-pill badge-cyan">{{ test_obj.status }}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>Patient:</td>
                                <td class="text-dark font-weight-semibold">{{ test_obj.patient.full_name }}</td>
                            </tr>

                            <tr>
                                <td>Code:</td>
                                <td>
                                    <span class="badge badge-pill badge-secondary">{{ test_obj.code|upper }}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>Date Initiated:</td>
                                <td>{{ test_obj.date_initiated }}</td>
                            </tr>
                            <tr>
                                <td>Date Completed:</td>
                                <td>{{ test_obj.date_completed }}</td>
                            </tr>
                            <tr>
                                <td>Last Updated:</td>
                                <td>{{ test_obj.updated_at }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Queries</h4>
                </div>
                <div class="card-body">
                    <p>{{ test_obj.queries }}</p>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sample</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                            <tr>
                                <td>Name:</td>
                                <td class="text-dark font-weight-semibold">{{ test_obj.sample.name }}</td>
                            </tr>
                            <tr>
                                <td>ID:</td>
                                <td>{{ test_obj.sample.short_slug }}</td>
                            </tr>
                            <tr>
                                <td>Type:</td>
                                <td>
                                    <span class="badge badge-pill badge-purple"> {{ test_obj.sample.type }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Quantity:</td>
                                <td>{{ test_obj.sample.measurement }}</td>
                            </tr>
                            <tr>
                                <td>Date Collected:</td>
                                <td>{{ test_obj.sample.collected_on }}</td>
                            </tr>
                            <tr>
                                <td>Note:</td>
                                <td>{{ test_obj.sample.note|default_if_none:'---'|default:'---' }}</td>
                            </tr>

                            {% if test_obj.sample.image1 or test_obj.sample.image2 %}
                                <tr>
                                    <td>Pictures:</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            {% if test_obj.sample.image1.src %}
                                                <div class="avatar avatar-image rounded mr-3"
                                                     style="height: 70px; width: 70px">
                                                    <img src="#" alt="">
                                                </div>
                                            {% endif %}
                                            {% if test_obj.sample.image1.src %}

                                                <div class="avatar avatar-image rounded"
                                                     style="height: 70px; width: 70px">
                                                    <img src="#" alt="">
                                                </div>

                                            {% endif %}

                                        </div>
                                    </td>
                                </tr>

                            {% endif %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Metrics</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                            <tr>
                                <td>Rate:</td>
                                <td>{{ test_obj.rate }}</td>
                            </tr>
                            <tr>
                                <td>Upper Bound:</td>
                                <td>{{ test_obj.upper_bound }}</td>
                            </tr>
                            <tr>
                                <td>Lower Bound:</td>
                                <td>{{ test_obj.lower_bound }}</td>
                            </tr>
                            <tr>
                                <td>Unit:</td>
                                <td>{{ test_obj.unit }}</td>
                            </tr>
                            <tr>
                                <td>Charges ($):</td>
                                <td>{{ test_obj.charges }}</td>
                            </tr>
                            <tr>
                                <td>Duration (mins):</td>
                                <td>{{ test_obj.duration }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

        <div class="tab-pane fade" id="test_desc">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Test Description</h4>
                </div>
                <div class="card-body">
                    {{ test_obj.description|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
