{% load static %}

{% if form.errors %}
<div class="single-card no-content">
    <div class="d-block form-errors">

        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-warning">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-warning">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}

<form method="post" name="uploadForm" id="uploadForm" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="test" id="Test" value="test">


    <div class="form-row">
        <div class="form-group col-6">
            <label for="levelSelect">Level</label>
            <select class="form-control" name="level" required="" id="levelSelect">
                <option selected>Choose...</option>
                <option value="100">100</option>

                <option value="200">200</option>

                <option value="300">300</option>

                <option value="400">400</option>

                <option value="500">500</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="departmentInput">Department</label>
<!--            <input type="text" class="form-control" id="departmentInput" name="department"-->
<!--                   placeholder="Department">-->
            <select disabled class="form-control" name="department" required="" id="departmentInput">
                <option disabled selected>{{ department }}</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <label for="uploadFile">Result Document</label>
            <div class="custom-file">
                <label class="custom-file-label" for="uploadFile">Choose file</label>

                <input type="file" class="custom-file-input" name="uploaded_file" required=""
                       id="uploadFile" accept=".xlsx, .xls, .csv, .pdf">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
            <label for="Session">Session</label>
            <select class="form-control" name="session">
                <option selected>Choose...</option>
                <option value="2017">2017/2018</option>
                <option value="2018">2018/2019</option>
                <option value="2019">2019/2020</option>
                <option value="2020">2020/2021</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="semesterSelect">Semester</label>
            <select class="form-control" name="semester" required="" id="semesterSelect">
                <option selected>Choose...</option>
                <option value="1">First</option>
                <option value="2">Second</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <label for="id_comment">Comment</label>

            <textarea name="comment" class="form-control" id="id_comment"
                      placeholder="Comment on result"></textarea>
        </div>
    </div>

    <div class="form-group justify-content-center d-block text-center">
        <button type="submit" class="btn btn-secondary btn-tone m-r-5">
            <i class="anticon anticon-upload m-r-5"></i>
            <span>Upload result</span>
        </button>
    </div>

</form>