{% load static %}
<div class="card">
    <div class="card-body">

        <div class="m-t-30">

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body" style="height: 435px">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Uploaded Results</h5>
            {#            <div>#}
            {#                <a href="" class="btn btn-default btn-sm">View All</a>#}
            {#            </div>#}
        </div>
        <div class="m-t-30">
            {% if not result %}
                <div class="d-flex m-b-20">

                    <div class="m-l-20">
                        <h5 class="m-b-0">
                            <a class="text-dark">No result yet</a>
                        </h5>
                        <p class="m-b-0">Uploaded results will show here.</p>
                    </div>
                </div>
            {% endif %}

            {% for result in all_result %}
                <div class="d-flex m-b-20">
                    <div class="text-center">
                        <div class="avatar avatar-text avatar-blue avatar-lg rounded">
                            <span class="font-size-22">{{ result.level }}</span>
                        </div>
                    </div>
                    <div class="m-l-20">
                        <h5 class="m-b-0">
                            <a class="text-dark" href="{{ result.get_absolute_url }}">{{ result.department }}</a>
                        </h5>
                        <p class="m-b-0">{{ result.meta_details }}</p>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
</div>