{% load lab_extras %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>
        {% block title %}{% endblock title %} | LIMS
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.png' %}">

    <!-- page css -->

    <!-- Core css -->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/wfmi-style.css' %}" rel="stylesheet"/>
    <style>
        tr.clickrow, tr.clickrow:hover {
            cursor: pointer;
        }
    </style>
    {% block styles %}{% endblock styles %}

</head>

<body>
<div class="app">
    <div class="layout">
        <!-- Header START -->
        {% include 'partials/_header.html' %}
        <!-- Header END -->

        <!-- Side Nav START -->
        {% include 'partials/_side_nav.html' %}
        <!-- Side Nav END -->

        <!-- Page Container START -->
        <div class="page-container">

            <!-- Content Wrapper START -->
            <div class="main-content">
                {% if request.get_full_path|remove_url  == 'dashboard' or request.get_full_path|remove_url  == '/' %}

                    <div class="page-header no-gutters">
                        <div class="d-md-flex align-items-md-center justify-content-between">
                            <div class="media m-v-10 align-items-center">
                                <div class="avatar avatar-image avatar-lg">
                                    <img src="{% static 'images/others/technician.png' %}" alt="">
                                </div>
                                <div class="media-body m-l-15">
                                    <h4 class="m-b-0">Welcome back,
                            {{ user_details.first_name|upper }}!</h4>
                                    <span class="text-gray">Lab Technician</span>
                                </div>
                            </div>
                            <div class="d-md-flex align-items-center d-none">
                                <div class="media align-items-center m-r-40 m-v-5">
                                    <div class="font-size-27">
                                        <i class="text-primary medical-icon-i-immunizations"></i>
                                    </div>
                                    <div class="d-flex align-items-center m-l-10">
                                        <h2 class="m-b-0 m-r-5">{{ all_test_total }}</h2>
                                        <span class="text-gray">Tests</span>
                                    </div>
                                </div>
                                <div class="media align-items-center m-r-40 m-v-5">
                                    <div class="font-size-27">
                                        <i class="text-success medical-icon-i-imaging-root-category"></i>
                                    </div>
                                    <div class="d-flex align-items-center m-l-10">
                                        <h2 class="m-b-0 m-r-5">{{ all_samples_total }}</h2>
                                        <span class="text-gray">Samples</span>
                                    </div>
                                </div>
                                <div class="media align-items-center m-v-5">
                                    <div class="font-size-27">
                                        <i class="text-danger medical-icon-i-hearing-assistance"></i>
                                    </div>
                                    <div class="d-flex align-items-center m-l-10">
                                        <h2 class="m-b-0 m-r-5">{{ all_requests_total }}</h2>
                                        <span class="text-gray">Test Requests</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="page-header no-gutters">
                        <h2 class="font-weight-normal">{% block page_title %}Welcome back,
                            {{ user_details.first_name|upper }}!{% endblock page_title %}</h2>
                        <p class="text-muted m-b-0">{% block page_subtitle %}{% endblock page_subtitle %}</p>
                    </div>

                {% endif %}


                <!-- Content goes Here -->



                {% if messages %}
                    <script>
                        {% for message in messages %}

                            $.notify(
                                {
                                    icon: "fa fa-idea",
                                    message: `<span class='ml-3'>{{ message }}</span>`,
                                },
                                {
                                    type: '{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}',
                                    delay: 500,
                                    timer: 3500,
                                    placement: {
                                        from: 'top',
                                        align: 'right',
                                    },
                                }
                            );
                        {% endfor %}
                    </script>
                {% endif %}


                {% block content %}

                {% endblock %}
            </div>
            <!-- Content Wrapper END -->

            <!-- Footer START -->
            <footer class="footer">
                <div class="footer-content">
                    <p class="m-b-0">Copyright © 2021 AU LIMS. All rights reserved.</p>
                </div>
            </footer>
            <!-- Footer END -->

        </div>
        <!-- Page Container END -->

    </div>
</div>


<!-- Core Vendors JS -->
<script src="{% static 'js/vendors.min.js' %}"></script>

<!-- page js -->

<!-- Core JS -->
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'js/bootstrap-notify.js' %}"></script>
{% block scripts %}{% endblock scripts %}

<script>
    $('.clickrow').click(function (e) {
        let row = this
        window.location = row.getAttribute('data-url')
        return true
    })

</script>
</body>

</html>