{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{% endblock title %} | LIMS
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.png' %}">

    <!-- page css -->

    <!-- Core css -->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/wfmi-style.css' %}" rel="stylesheet"/>
  <style>
        tr.clickrow, tr.clickrow:hover {
            cursor:pointer;
        }
    </style>
    {% block styles %}{% endblock styles %}

</head>

<body>
<div class="app">
    <div class="layout">
        <!-- Header START -->
        {% include 'partials/_header.html' %}
        <!-- Header END -->

        <!-- Side Nav START -->
        {% include 'partials/_side_nav.html' %}
        <!-- Side Nav END -->

        <!-- Page Container START -->
        <div class="page-container">

            <!-- Content Wrapper START -->
            <div class="main-content">

                {#                {% load lab_extras %}#}

                {#                {% if request.get_full_path|remove_url == 'new-test' %}#}

                <div class="page-header no-gutters">
                    <h2 class="font-weight-normal">{% block page_title %}Welcome back,
                        {{ user_details.first_name|upper }}!{% endblock page_title %}</h2>
                    {#                    <div class="d-md-flex align-items-md-center justify-content-between">#}
                    {##}
                    {#                        <div class="media m-v-10 align-items-center">#}
                    {#                            <div class="avatar avatar-image avatar-lg">#}
                    {#                                <img src="{% static 'images/avatars/thumb-3.jpg' %}" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="media-body m-l-15">#}
                    {#                                <h4 class="m-b-0">{% block page_title %}Welcome back, Martin!{% endblock page_title %}</h4>#}
                    {#                                <span class="text-gray">{% block page_subtitle %}Lab Technician{% endblock page_subtitle %}</span>#}
                    {##}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
                <!-- Content goes Here -->

                {% if messages %}
                    <script>
                        {% for message in messages %}

                            $.notify(
                                {
                                    icon: "fa fa-idea",
                                    message: `<span class='ml-3'>{{ message }}</span>`,
                                },
                                {
                                    type: '{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}',
                                    delay: 500,
                                    timer: 3500,
                                    placement: {
                                        from: 'top',
                                        align: 'right',
                                    },
                                }
                            );
                        {% endfor %}
                    </script>
                {% endif %}


                {% block content %}

                {% endblock %}
            </div>
            <!-- Content Wrapper END -->

            <!-- Footer START -->
            <footer class="footer">
                <div class="footer-content">
                    <p class="m-b-0">Copyright © 2021 AU LIMS. All rights reserved.</p>
                </div>
            </footer>
            <!-- Footer END -->

        </div>
        <!-- Page Container END -->

        <!-- Search Start-->
        <div class="modal modal-left fade search" id="search-drawer">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-between align-items-center">
                        <h5 class="modal-title">Search</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="anticon anticon-close"></i>
                        </button>
                    </div>
                    <div class="modal-body scrollable">
                        <div class="input-affix">
                            <i class="prefix-icon anticon anticon-search"></i>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <!-- Content goes Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Search End-->

        <!-- Quick View START -->
        <div class="modal modal-right fade quick-view" id="quick-view">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-between align-items-center">
                        <h5 class="modal-title">Quick View</h5>
                    </div>
                    <div class="modal-body scrollable">
                        <!-- Content goes Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick View END -->
    </div>
</div>


<!-- Core Vendors JS -->
<script src="{% static 'js/vendors.min.js' %}"></script>

<!-- page js -->

<!-- Core JS -->
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'js/bootstrap-notify.js' %}"></script>
{% block scripts %}{% endblock scripts %}

<script>
    $('.clickrow').click(function (e) {
        let row = this
        window.location = row.getAttribute('data-url')
        return true
    })

</script>
</body>

</html>