{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{% endblock title %} | Zeus
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.png' %}">

    <!-- page css -->

    <!-- Core css -->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet"/>
    {% block styles %}{% endblock styles %}

</head>

<body>
<div class="app">
    <div class="layout">
        <!-- Header START -->
        {% include 'partials/_header.html' %}
        <!-- Header END -->

        <!-- Side Nav START -->
        {% include 'partials/_side_nav.html' %}
        <!-- Side Nav END -->

        <!-- Page Container START -->
        <div class="page-container">

            <!-- Content Wrapper START -->
            <div class="main-content">
                <div class="page-header no-gutters">
                    <div class="d-md-flex align-items-md-center justify-content-between">
                        <div class="media m-v-10 align-items-center">
                            <div class="avatar avatar-image avatar-lg">
                                <img src="{% static 'images/avatars/thumb-3.jpg' %}" alt="">
                            </div>
                            <div class="media-body m-l-15">
                                {% if logged_user_profile %}

                                    <h4 class="m-b-0">Welcome back, {{ logged_user_profile.full_name }}!</h4>
                                    {% if logged_user_profile.user_role == 'officer' %}
                                        <span class="text-gray">Examination Officer</span>
                                        <span class="ml-2 mr-1 text-gray">•</span>
                                        <span class="ml-1 text-gray">{{ logged_user_profile.department }}</span>

                                    {% else %}
                                        <span class="text-gray">Senator</span>

                                    {% endif %}

                                {% endif %}

                            </div>
                        </div>
                        {#                        <div class="d-md-flex align-items-center d-none">#}
                        {#                            <div class="media align-items-center m-r-40 m-v-5">#}
                        {#                                <div class="font-size-27">#}
                        {#                                    <i class="text-success  anticon anticon-appstore"></i>#}
                        {#                                </div>#}
                        {#                                <div class="d-flex align-items-center m-l-10">#}
                        {#                                    <h2 class="m-b-0 m-r-5">21</h2>#}
                        {#                                    <span class="text-gray">Uploaded Results</span>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
                <!-- Content goes Here -->

                {% block content %}

                {% endblock %}
            </div>
            <!-- Content Wrapper END -->

            <!-- Footer START -->
            <footer class="footer">
                <div class="footer-content">
                    <p class="m-b-0">Copyright © 2021 Project Zeus. All rights reserved.</p>
                </div>
            </footer>
            <!-- Footer END -->

        </div>
        <!-- Page Container END -->

        <!-- Search Start-->
        <div class="modal modal-left fade search" id="search-drawer">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-between align-items-center">
                        <h5 class="modal-title">Search</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="anticon anticon-close"></i>
                        </button>
                    </div>
                    <div class="modal-body scrollable">
                        <div class="input-affix">
                            <i class="prefix-icon anticon anticon-search"></i>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <!-- Content goes Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Search End-->

        <!-- Quick View START -->
        <div class="modal modal-right fade quick-view" id="quick-view">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-between align-items-center">
                        <h5 class="modal-title">Quick View</h5>
                    </div>
                    <div class="modal-body scrollable">
                        <!-- Content goes Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick View END -->
    </div>
</div>


<!-- Core Vendors JS -->
<script src="{% static 'js/vendors.min.js' %}"></script>

<!-- page js -->

<!-- Core JS -->
<script src="{% static 'js/app.min.js' %}"></script>
{% block scripts %}{% endblock scripts %}

<script>

</script>
</body>

</html>