{% extends "base.html" %}
{% load static %}
{% block title %}Laboratories{% endblock title %}
{% block styles %}
{% endblock styles %}


{% block page_title %}Laboratory Departments{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="col-lg-11 mx-auto">
            <div class="row">

                <div classsid="col-md-4">
                    <div class="card mr-4" style="max-width: 342px;">
                        <img class="card-img-top" width="342px" height="188px"
                             src="{% static 'images/others/lab-pic.webp' %}" alt="Lab">
                        <div class="card-body">
                            <h4 class="m-t-10">Microbiology Lab</h4>
                            <p class="m-b-20">The laboratory is devoted to the culturing,
                                examination, and identification of microorganisms...</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="m-b-0 text-dark font-weight-semibold font-size-15">25 Tests</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div classsid="col-md-4">
                    <div class="card mr-4" style="max-width: 342px;">
                        <img class="card-img-top" width="342px" height="188px"
                             src="{% static 'images/others/lab-pic.webp' %}" alt="Lab">
                        <div class="card-body">
                            <h4 class="m-t-10">Hematology Lab</h4>
                            <p class="m-b-20">This laboratory is devoted to the study of blood, blood morphology and
                                blood diseases...</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="m-b-0 text-dark font-weight-semibold font-size-15">5 Tests</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div classsid="col-md-4">
                    <div class="card mr-4" style="max-width: 342px;">
                        <img class="card-img-top" width="342px" height="188px"
                             src="{% static 'images/others/lab-pic.webp' %}" alt="Lab">
                        <div class="card-body">
                            <h4 class="m-t-10">Chemistry Lab</h4>
                            <p class="m-b-20">Common tests analyzed in this
                                laboratory are glucose, cholesterol, BUN, creatinine, potassium, liver...</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="m-b-0 text-dark font-weight-semibold font-size-15">25 Tests</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div classsid="col-md-4">
                    <div class="card mr-4" style="max-width: 342px;">
                        <img class="card-img-top" width="342px" height="188px"
                             src="{% static 'images/others/lab-pic.webp' %}" alt="Lab">
                        <div class="card-body">
                            <h4 class="m-t-10">Transfusion Services Lab</h4>
                            <p class="m-b-20">This laboratory provides blood transfusion support by providing the
                                patient with red cells, plasma...</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="m-b-0 text-dark font-weight-semibold font-size-15">70 Tests</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div classsid="col-md-4">
                    <div class="card mr-4" style="max-width: 342px;">
                        <img class="card-img-top" width="342px" height="188px"
                             src="{% static 'images/others/lab-pic.webp' %}" alt="Lab">
                        <div class="card-body">
                            <h4 class="m-t-10">Immunology Lab</h4>
                            <p class="m-b-20">This laboratory study immune products such as antibodies produced by the
                                body in response to foreign material...</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="m-b-0 text-dark font-weight-semibold font-size-15">70 Tests</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div classsid="col-md-4">
                    <div class="card mr-4" style="max-width: 342px;">
                        <img class="card-img-top" width="342px" height="188px"
                             src="{% static 'images/others/lab-pic.webp' %}" alt="Lab">
                        <div class="card-body">
                            <h4 class="m-t-10">Surgical Pathology Lab</h4>
                            <p class="m-b-20">This laboratory treats the essential nature of disease, especially the
                                structural and functional changes in tissues...</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="m-b-0 text-dark font-weight-semibold font-size-15">70 Tests</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div classsid="col-md-4">
                    <div class="card mr-4" style="max-width: 342px;">
                        <img class="card-img-top" width="342px" height="188px"
                             src="{% static 'images/others/lab-pic.webp' %}" alt="Lab">
                        <div class="card-body">
                            <h4 class="m-t-10">Cytology Lab</h4>
                            <p class="m-b-20">In this laboratory, a skilled cytotechnologist examines human cells under
                                the microscope, looking for...</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="m-b-0 text-dark font-weight-semibold font-size-15">70 Tests</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
