{% extends "base.html" %}
{% load static %}
{% block title %}New Test{% endblock title %}
{% block styles %}
    <link href="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"/>

{% endblock styles %}


{% block page_title %}Create New Test{% endblock page_title %}

{% block content %}
    <div class="container">
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="tab-account">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Patient and Doctor Details</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="fullAddress">Select Patient:</label>
                                    <select id="language" class="form-control">
                                        <option>John Doe</option>
                                        <option>Mark Andrew</option>
                                        <option>James Rodri</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="fullAddress">Select Doctor:</label>
                                    <select id="language" class="form-control">
                                        <option>Wayne Justice</option>
                                        <option>Well Brothers</option>
                                        <option>Jack Jill</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="font-weight-semibold" for="">Lab Technician:</label>
                                    <input type="text" class="form-control" id="Technician"
                                           placeholder="Mark John" disabled="disabled">
                                </div>

                            </div>

                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Test Details</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">

                                <div class="form-group col-md-12">
                                    <label class="font-weight-semibold" for="">Name</label>
                                    <input type="text" class="form-control" id="test-name"
                                           placeholder="Name of the test">
                                </div>

                                <div class="form-group col-md-8">
                                    <label class="font-weight-semibold" for="Category">Category:</label>
                                    <select id="Category" class="form-control">
                                        <option>Complete Blood Count</option>
                                        <option>Basic Metabolic Panel</option>
                                        <option>Thyroid Stimulating Hormone</option>
                                        <option>Urinalysis</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="test-code">Code: </label>
                                    <input type="text" class="form-control" id="confirmPassword"
                                           placeholder="Example: CBC, BMP, TSH">
                                </div>


                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="Sample">Sample:</label>
                                    <select id="language" class="form-control">
                                        <option>Blood</option>
                                        <option>Plasma</option>
                                        <option>Urine</option>
                                        <option>Saliva</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="custom-file" style="margin-top: 27px;">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload picture of sample</label>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="Laboratory">Laboratory:</label>
                                    <select id="Laboratory" class="form-control">
                                        <option>Microbiology</option>
                                        <option>Hematology</option>
                                        <option>Chemistry</option>
                                        <option>Cytology</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="Status">Status:</label>
                                    <select id="Status" class="form-control">
                                        <option>Routine</option>
                                        <option>STAT</option>
                                    </select>
                                </div>


                                <div class="form-group col-md-12 mb-3">
                                    <label class="font-weight-semibold" for="description">Description: </label>

                                    <div id="editor" class="" style="height: 300px;">
                                        <p>Hello World!</p>
                                        <p>Some initial <strong>bold</strong> text</p>
                                        <p><br></p>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="font-weight-semibold" for="queries">Queries: </label>
                                    <textarea name="queries"
                                              placeholder="Information about the person and blood sample. Any pertinent information regarding the patient’s test preparation or the condition of specimen may be noted here."
                                              class="form-control" id="queries"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Measurements -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Measurements</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="Rate">Rate: </label>
                                    <input type="number" class="form-control" id="Rate"
                                           placeholder="Rate">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="UBound">Upper Bound: </label>
                                    <input type="number" class="form-control" id="UBound"
                                           placeholder="Upper Bound">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="LBound">Lower Bound: </label>
                                    <input type="number" class="form-control" id="LBound"
                                           placeholder="Lower Bound">
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="Unit">Unit: </label>
                                    <select id="Unit" class="form-control">
                                        <option>Grams (g)</option>
                                        <option>Milliliters (mL)</option>
                                        <option>Milliunits per gram (mU/g)</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="Charges">Charges:</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">$</span>
                                        </div>
                                        <input type="number" class="form-control" placeholder="Charges in dollars"
                                               id="Charges" aria-describedby="basic-addon3">
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="Duration">Duration:</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">'</span>
                                        </div>
                                        <input type="number" class="form-control" placeholder="Duration in minutes"
                                               id="Duration" aria-describedby="basic-addon3">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <!-- Other Details -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Other Details</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">


                                <!-- Default Datepicker-->
                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="dateInitiated">Date Initiated:</label>
                                    <div class="input-affix m-b-10">
                                        <i class="prefix-icon anticon anticon-calendar"></i>
                                        <input type="text" id="dateInitiated" class="form-control datepicker-input"
                                               placeholder="Pick a date">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="dateCompleted">Date Completed:</label>
                                    <div class="input-affix m-b-10">
                                        <i class="prefix-icon anticon anticon-calendar"></i>
                                        <input type="text" id="dateCompleted" class="form-control datepicker-input"
                                               placeholder="Pick a date">
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="test-code">Tags: </label>
                                    <input type="text" class="form-control" id="confirmPassword"
                                           placeholder="Tag similar tests">
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="font-weight-semibold" for="notes">Notes: </label>
                                    <textarea name="notes" placeholder="Extra notes" class="form-control" id="notes"></textarea>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'vendors/quill/quill.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script>

        new Quill('#editor', {
            theme: 'snow'
        });

        $('.datepicker-input').datepicker();
    </script>

{% endblock scripts %}
