{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Print Test Report
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.png' %}">

    <!-- page css -->

    <!-- Core css -->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/wfmi-style.css' %}" rel="stylesheet"/>


    <style>

    </style>
    <script src="{% static 'js/html2pdf.bundle.js' %}"></script>

</head>

<body>
<div class="app">
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div id="printSection">
            {% include 'partials/_report.html' %}
        </div>

        <button id="btnPrintReport" class="btn btn-secondary btn-tone" style="margin-left: 650px;">
            <i class="anticon anticon-loading m-r-5"></i>
            <i class="anticon anticon-printer m-r-5"></i>
            <span>Confirm and Print Report</span>
        </button>

        {#  TODO: genereate barcodes ===> https://python.plainenglish.io/generating-barcodes-with-django-52e450fd960b#}

    </div>
    <!-- Content Wrapper END -->

    <!-- Footer START -->
    <footer class="footer">
        <div class="footer-content">
            <p class="m-b-0">Copyright © 2021 AU LIMS. All rights reserved.</p>
        </div>
    </footer>
    <!-- Footer END -->

</div>
<!-- Page Container END -->


<!-- Core Vendors JS -->
<script src="{% static 'js/vendors.min.js' %}"></script>

<!-- page js -->

<!-- Core JS -->
<script src="{% static 'js/app.min.js' %}"></script>

<script>

    $('#btnPrintReport').click(function (e) {
        console.log("Initiate btnPrintReport: ", this)
        $(this).addClass("is-loading");
        setTimeout(function () {
            $("#btnPrintReport").removeClass("is-loading");
        }, 3500);
        generatePDFReport()
    })


    function generatePDFReport() {
        console.log("generatePDFReport")

        const element = document.getElementById("printSection");

        var opt = {
            margin: 0.2,
            filename: 'aulims-report.pdf',
            image: {type: 'jpg', quality: 0.98},
            html2canvas: {scale: 1},
            jsPDF: {unit: 'px', format: 'a4', orientation: 'portrait','hotfixes':["px_scaling"],},

        };

        html2pdf().set(opt).from(element).save();

    }

</script>
</body>

</html>