{% extends "base.html" %}
{% load static %}
{% block title %}Account Settings{% endblock title %}
{% block styles %}
    <link href="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"/>

{% endblock styles %}


{% block page_title %}Lab Technician Account Settings{% endblock page_title %}

{% block content %}
    <div class="container">
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="">

                {% if form_err or form.errors %}
                    <!-- Err -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">An error occurred</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <div class="text-center auth-errors"
                                         style="margin-top: 5px;margin-bottom: 15px;">

                                        <span class="form__forget"
                                              style="color: red !important;"> {{ form_err }} </span>

                                        {% for field in form %}
                                            {% for error in field_errors %}
                                                <span class="form__forget"
                                                      style="color: red !important;"> {{ error }} </span>
                                            {% endfor %}
                                        {% endfor %}

                                        {% for error in form.non_field_errors %}
                                            <span class="form__forget"
                                                  style="color: red !important;"> {{ error }} </span>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Infomation</h4>
                    </div>

                    <div class="card-body">
                        <hr class="m-v-25">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'update_profile' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="userName">User Name:</label>
                                    <input type="text" class="form-control" id="userName" placeholder="User Name"
                                           value="{{ user_update_form.username.value|default_if_none:user_details.user.username }}" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="email"
                                           disabled required
                                           value="{{ my_email }}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="phoneNumber">First Name:</label>
                                    <input type="text" class="form-control" id="" required placeholder="First Name"
                                           value="{{ update_profile_form.first_name.value|default_if_none:"" }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="dob">Last Name:</label>
                                    <input type="text" class="form-control" required id="dob" placeholder="Last Name"
                                           value="{{ update_profile_form.last_name.value|default_if_none:"" }}">
                                </div>
                            </div>

                            <div class="d-flex" style="margin-right: 390px;margin-left: 390px;">
                                <button class="btn btn-primary btn-tone m-t-30" type="submit">Save Profile
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}
